<div class="row">
  <div class="col-sm-12">
    <div class="box box-primary">
      <%= form_for @user, url: user_games_path(@user), method: :post, html: { class: "form-horizontal" } do |f| %>
        <div class="box-body">
          <div class="form-group">
            <%= f.label :games, class: "col-sm-2 control-label" %>
            <div class="col-sm-8">
              <%= f.collection_select :games, @collection, :id, :to_s, {include_blank: false}, {class: "form-control select2", multiple: true} %>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <%= link_to "Back", :back, class: "btn btn-default" %>
          <%= f.submit "Add", class: "btn btn-primary pull-right" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
