<% content_for :title do %> User <% end %>
<% content_for :subtitle do %> edit <% end %>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div class="alert alert-warning">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <div class="box box-primary">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f| %>
        <div class="box-body">
          <%= devise_error_messages! %>
          <div class="form-group">
            <%= f.label :email, class: "col-sm-2 control-label" %>
            <div class="col-sm-8">
              <%= f.text_field :email, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :address, class: "col-sm-2 control-label" %>
            <div class="col-sm-8">
              <%= f.text_field :address, class: "form-control", data: { geocomplete: true } %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password, class: "col-sm-2 control-label" %>
            <div class="col-sm-8">
              <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
              <div class="help-block">
                <i>(leave blank if you don't want to change it)</i>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, class: "col-sm-2 control-label" %>
            <div class="col-sm-8">
              <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :current_password, class: "col-sm-2 control-label" %>
            <div class="col-sm-8">
              <%= f.text_field :current_password, class: "form-control", autocomplete: "off" %>
              <div class="help-block">
                <i>(we need your current password to confirm your changes)</i>
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <%= link_to "Back", :back, class: "btn btn-default" %>
          <%= f.submit "Update", class: "btn btn-primary pull-right" %>
        </div>
      <% end %>
      <div class="box-footer">
        Unhappy?
        <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
