<div class="row">
  <div class="col-sm-12">
    <div class="box box-primary">
      <%= form_for @group, html: { class: "form-horizontal" } do |f| %>
        <div class="box-body">
          <div class="form-group">
            <%= f.label :name, class: "col-sm-2 control-label" %>
            <div class="col-sm-8">
              <%= f.text_field :name, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :description, class: "col-sm-2 control-label" %>
            <div class="col-sm-8">
              <%= f.text_area :description, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :encounter_point, class: "col-sm-2 control-label" %>
            <div class="col-sm-8">
              <%= f.text_field :encounter_point, class: "form-control", data: { geocomplete: true } %>
              <p class="help-block">
                Where do you usually play?
              </p>
              <div class="help-block">
                <div id="geocomplete-map"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <%= link_to "Back", :back, class: "btn btn-default" %>
          <%= f.submit class: "btn btn-primary pull-right" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
