<div class="row">
  <div class="col-sm-8">
    <div class="box box-info">
      <div class="box-header">
        <i class="fa fa-info"></i>
        <h3 class="box-title"><%= t(".information") %></h3>
      </div>
      <div class="box-body">
        <dl class="dl-horizontal">
          <dt><%= t(".description") %></dt>
          <dd><%= @group.description %></dd>
          <dt><%= t(".encounter_point") %></dt>
          <dd><%= @group.encounter_point %></dd>
        </dl>
      </div>
    </div>
    <div class="box box-success">
      <div class="box-header">
        <i class="fa fa-map-marker"></i>
        <h3 class="box-title"><%= t(".encounter_point") %></h3>
      </div>
      <%= group_map_element(@group) %>
    </div>
    <div class="box box-success">
      <div class="box-header">
        <i class="fa fa-gavel"></i>
        <h3 class="box-title"><%= t(".we_play") %></h3>
        <%= link_to [:new, @group, :game], class: "btn btn-xs btn-primary btn-flat pull-right" do %>
          <i class="fa fa-plus"></i>
          <%= t("actions.add") %>
        <% end if policy(@group).edit? %>
      </div>
      <%= render "game_table", games: @group.games %>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="box box-success">
      <div class="box-header">
        <i class="fa fa-user"></i>
        <h3 class="box-title"><%= t(".organizer") %></h3>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-sm-3">
            <%= image_tag @group.owner_avatar, class: "img-circle" %>
          </div>
          <div class="col-sm-9">
            <h4><%= @group.owner_name %></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="box-header">
        <i class="fa fa-users"></i>
        <h3 class="box-title"><%= t(".members") %></h3>
        <%= link_to [:new, @group, :user], class: "btn btn-xs btn-primary btn-flat pull-right" do %>
          <i class="fa fa-user-plus"></i>
          <%= t("actions.invite") %>
        <% end if policy(@group).edit? %>
      </div>
      <%= render "members_table", members: @group.members %>
    </div>
  </div>
</div>
