<div class="row">
  <div class="col-sm-8">
    <div class="box box-success">
      <div class="box-header">
        <i class="fa fa-users"></i>
        <h3 class="box-title">My own groups</h3>
      </div>
      <div class="box-body">
        <%= render "my_groups_table", groups: @user.groups %>
      </div>
    </div>
    <div class="box box-success">
      <div class="box-header">
        <i class="fa fa-users"></i>
        <h3 class="box-title">My Groups</h3>
      </div>
      <div class="box-body">
        <%= render "my_groups_table", groups: @user.subscriptions %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="box box-info">
      <div class="box-header">
        <i class="fa fa-info"></i>
        <h3 class="box-title">Information</h3>
      </div>
      <div class="box-body">
        <dl class="dl-horizontal">
          <dt>Email:</dt>
          <dd><%= link_to "<i class='fa fa-envelope'></i>".html_safe, "mailto:#{@user.email}" %></dd>
          <dt>Name:</dt>
          <dd><%= @user.name %></dd>
        </dl>
      </div>
    </div>
    <div class="box box-info">
      <div class="box-header">
        <i class="fa fa-gavel"></i>
        <h3 class="box-title">I love play</h3>
      </div>
      <%= render "my_games_table", games: @user.games %>
    </div>
  </div>
</div>
